* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.img-nav {
	height: 30px;
}
.modal-img {
	height: 100%;
	width: 100%;
}
.main-modal-img {
	height: 60%;
}
.pointer {
	cursor: pointer;
}
.modalbody {
	min-height: 100%;
}
